@CHARSET "EUC-KR";

.pwdCheck {
	position: absolute;
	top: 243px;
	right: 15px;
	height: calc(1.5em + .9rem + 2px);
	padding: .375rem .75rem;
	border: 1px solid #00c853;
	border-radius: 3px;
	background-color: #00c853;
	color: white;
}

.pwdCheck:HOVER {
	background-color: #00a243;
}

.post {
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.post_btn {
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
}

.post1 {
	width: 100%;
}

.btn_submit {
	background-color: #00c853;
	color: white;
	width: 100%;
}

.btn_submit:HOVER {
	background-color: #00a243;
	color: white;
}

.help-block {
	color: red;
	font-size: 12px;
}