@charset "EUC-KR";

@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.navbar-brand, h1, h2, h3, h4, h5{
	font-family: 'Jeju Gothic';
}
.h5{
	font-size: 18px;
}

*{
	font-family: 'Nanum Gothic';
}

